body {
	font-family:'Raleway',sans-serif;
	font-size:18px;
	background-image:url(../img/background3.jpg);
	max-width:1250px;
	margin:0 auto
}

hr {
	text-align:center;
	margin:0 auto;
	opacity:.5
}

ul {
	text-transform:uppercase
}

ul.inline-list.right {
	text-transform:none
}

ul.inline-list.right a {
	color:#000
}

ul.inline-list.right a:hover {
	color:rgba(0,0,0,0.5)
}

/* ---------- Fonts ---------- */
@font-face {
	font-family:"Dragons";
	src:url(../fonts/devildemi.ttf)
}

h1,h2,h3,h4 {
	font-family:"Dragons",sans-serif
}

h2 {
	color:#fff;
	font-size:36px;
	line-height:34px
}

h3 {
	font-size:24px;
	color:#fff;
	line-height:10px;
	text-align:center;
	font-weight:500;
	padding-bottom:10px
}

h4 {
	color:#000;
	font-size:28px;
	padding-top:5px
}

.columns.large-centered {
	padding-left:5px;
	padding-right:5px
}

.about-box {
	color:#fff
}

.black-box {
	background-color:rgba(0,0,0,0.55);
	padding:35px;
	font-weight:900
}

.black-box p {
	font-weight:900
}

.secondary.small.button {
	background-color:transparent;
	color:#fff;
	border:2px #fff solid;
	border-radius:5px;
	padding:15px 50px;
	margin:0
}

.secondary.small.button:hover {
	background-color:rgba(255,255,255,0.5)
}

.row .main-wrapper {
	color:#fff
}

.about-content {
	background-color:#fff;
	box-shadow:2px 2px 10px rgba(0,0,0,0.1)
}

.button-group li .button {
	border:0!important
}

.button {
	-webkit-appearance:none;
	background-color:transparent;
	border-width:0;
	text-align:center;
	box-shadow:0 0 0
}

.button:hover {
	color:rgba(255,255,255,0.7);
	background-color:transparent
}

footer p,footer a {
	font-size:14px
}

.hero {
	padding-bottom:50px;
	background-image:url(../img/background1.jpg);
	background-size:cover;
	box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.2)
}

.hero-content {
	margin-top:68px;
	padding-top:40px;
	padding-bottom:40px;
	background-color:#EAEAEA
}

.panel {
	margin:40px 0;
	box-shadow:2px 2px 10px rgba(0,0,0,0.2);
	border:none;
	background-color:#EAEAEA
}

.large-4 img {
	box-shadow:2px 2px 10px rgba(0,0,0,0.1)
}

.radius.right.button {
	color:#000;
	border:2px #000 solid;
	border-radius:5px;
	padding:15px 50px;
	margin:0;
	font-size:.8125em
}

.radius.right.button:hover {
	background-color:rgba(0,0,0,0.1)
}

.small-block-grid-2 img:hover {
	opacity:.5
}

#dan {
	float:left;
	padding:15px
}

table {
	font-family:'Raleway',sans-serif
}

table th {
	background-color:rgba(0,0,0,0.33)
}

#dates {
	margin-bottom:15px
}

/* ----------- Media Queries ----------- */
@media screen and (max-width: 64.063em) {
.small-block-grid-2 {
	display:none
}

.columns.large-centered {
	font-size:14px
}

#quote {
	width:80%;
	margin:0 auto
}

.radius.right.button {
	color:#000;
	border:2px #000 solid;
	border-radius:5px;
	padding:15px 50px;
	margin-top:25px;
	font-size:.8125em
}

.hero-content,h4 {
	display:none
}
}

@media only screen and (max-width: 40.063em) {
.radius.right.button {
	color:#000;
	border:2px #000 solid;
	border-radius:5px;
	padding:15px 50px;
	margin-top:25px;
	font-size:.8125em
}

.hero {
	background-image:url(../img/background2.jpg)
}

ul {
}

h2 {
	font-size:1.768em
}

.hero-content {
	display:block
}

.small-block-grid-2 {
	display:block
}

#quote,h4 {
	display:none
}
}

@media screen and (max-width: 35em) {
.hero-content {
	display:block
}

.small-block-grid-2 {
	display:block
}

#quote,h4 {
	display:none
}

form {
	display:none
}

h3 {
	font-size:2em;
	padding-bottom:0;
	margin-bottom:0
}

a.radius.button.right {
	margin-top:0
}
}